body{
	z-index: 0;
}

.buttons {
	width: 15%;
	height: 5%;
	position: absolute;
	top:50%;
	left:40%;
}

.fields {
	width: 15%;
	height: 5%;
	position: absolute;
	top:30%;
	left:40%;
}

#login {
	display: inline-block;
}

.field {
	width: 50%;

	display: inline-block;
}

#username-field{
	margin-bottom: 10px;
}

#password-field{
}
	
#ponei{
	display: inline-block;
}

#iceCream {
	opacity: 0.4;
	position: absolute;
	z-index: -1;
	top: 20%;
	left: 40%;
}

.masthead {
	width: 1000px;
}

#contact{
	background-image: none;
	;